# Dorkodu Lords and Lands server
VIRTUAL_HOST=lordsandlands.dorkodu.com
LETSENCRYPT_HOST=lordsandlands.dorkodu.com
LETSENCRYPT_EMAIL=hey@dorkodu.com

# API settings
API_PORT=8009
EPOCH_TIME=1672531200069
MACHINE_ID=0
STRIPE_API_KEY=sk_test_51MT16RLpx9cgle4uJ97zTzwQ7gxIRwKqYop8SrT3xOp6LTodFnV5LlI1z1INn1XusNvWWXizsFCL1xtnO0CTFooa00NMVQRdmO

# Web settings
WEB_PORT=8008

# Postgres settings
POSTGRES_HOST=lordsandlands_postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lordsandlands
PGPORT=7004